stages:
    - build
    - staging
    - production

.buildTemplate-PlexSeparatePartsTranscoder: &buildDefinition-PlexSeparatePartsTranscoder
    stage: build
    tags:
        - linux
    image: python:3.7-stretch
    script:
        - 'echo "Installing prerequisities ..."'
        - 'pip install nuitka'
        - 'echo "Building Plex Separate Parts Transcoder ..."'
        - 'python -m nuitka --standalone "./src/Plex Separate Parts Transcoder/Plex Separate Parts Transcoder.py"'
        - 'mv ./Plex\ Separate\ Parts\ Transcoder.dist ./Plex\ Separate\ Parts\ Transcoder'

buildBranches-PlexSeparatePartsTranscoder:
    <<: *buildDefinition-PlexSeparatePartsTranscoder
    artifacts:
        paths:
            - "Plex Separate Parts Transcoder"
        expire_in: 1 week 
    only:
        - develop
        - master

buildMergeRequests-PlexSeparatePartsTranscoder:
    <<: *buildDefinition-PlexSeparatePartsTranscoder
    artifacts:
        paths:
            - "Plex Separate Parts Transcoder"
        expire_in: 1 day 
    only:
        - merge_requests
        - schedules

buildMergeRequests-PlexSeparatePartsTranscoder:
    <<: *buildDefinition-PlexSeparatePartsTranscoder
    artifacts:
        paths:
            - "Plex Separate Parts Transcoder"
    only:
        - tags

staging:
    stage: staging
    tags:
        - docker
        - linux
    image: docker:dind
    script:
        - ./build/docker.sh $DOCKER_HUB $DOCKER_USER $DOCKER_PASSWORD $DOCKER_IMAGE_NAME 'dev' $CI_COMMIT_SHORT_SHA
    only:
        - develop

publish:
    stage: production
    tags:
        - docker
        - linux
    image: docker:dind
    script:
        - ./build/production.sh $DOCKER_HUB $DOCKER_USER $DOCKER_PASSWORD $DOCKER_IMAGE_NAME $CI_COMMIT_REF_NAME
    only:
        - tags
        - schedules